<html ng-app='MyApp'>
  <head>
  <title>AngularJS Tutorial</title>
    <script src="../lib/angular.min.js"></script>
	<script src="../js/app.js" type="text/javascript"></script>
  <script src="../js/controllers/mycontroller.js" type="text/javascript"></script>
  <script src="../js/controllers/BookStoreController.js" type="text/javascript"></script>
  </head>
  <body>

    <div id='content' ng-controller='BookStore'>
     <h2>add a new item</h2>
      <table>
          <tr>
              <td>ISBN:</td>
              <td><input type ="text" ng-model="item.ISBN" /></td>
          </tr>
          <tr>
              <td>Name:</td>
              <td><input type ="text" ng-model="item.Name" /></td>
          </tr>
          <tr>
              <td>Price:</td>
              <td><input type ="number" ng-model="item.Price" /></td>
          </tr>
          <tr>
              <td>Quantity:</td>
              <td><input type ="number" ng-model="item.Quantity" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="Button" value="Add to list" ng-click="addItem(item)"/>
            </td>
          </tr>
      </table>

      <table border="1">
        <tr>
          <th>ISBN</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="item in items">
          <td>{{item.ISBN}}</td>
          <td >
            <span ng-hide="editMode">{{item.Name}}</span>
            <input type="text" ng-show="editMode" ng-model="item.Name" />
          </td>
          <td >
            <span ng-hide="editMode">{{item.Price}}</span>
            <input type="number" ng-show="editMode" ng-model="item.Price" />
          </td>
          <td >
            <span ng-hide="editMode">{{item.Quantity}}</span>
            <input  type="number" ng-show="editMode" ng-model="item.Quantity" />
          </td>
          <td >
              {{(item.Price)*(item.Quantity)}}
          </td>
          <td>
              <span><button type="submit" ng-hide="editMode" ng-click="editMode = true;editItem(item)">Edit</button></span>
              <span><button type="submit" ng-show="editMode" ng-click="editMode = false;">Save</button></span>
              <span><input type="button" value="Delete" ng-click="removeItem($index)" /></span>
          </td>
        </tr>
      </table>
      <br/>
      <div> Grand Total:{{totalPrice()}}</div>
      <div>
        <say-hello speak="content">美女</say-hello>
        <input type="text" ng-model="content"/>
      </div>
    </div>
    <div ng-controller="MyController">
      <div my-customer></div>
    </div>
  </body>
</html>

